body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
}


.logo {
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 1%;
    width: 16vh;
    height: 100%;
    object-fit: cover;
}

.barrapreta {
    margin-top: 1vh;
    background-color: black;
    height: 75vh;
    width: 100%;
    color: white;
    position: relative;
}

.corpo {
    margin-left: 15vh;
    display: flex;
}
.texto {
 width: 80vh;
}
.telemovel {
    float: right;
    padding-left: 24vh;
    margin-right: -10vh;
    width: 100vh;
    height: auto;
    margin-top: -6vh;
}

.botao-download {
    background-color: rgb(20, 224, 20);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.cubocima {
    position: absolute;
    top: 0;
    right: 0;
    height: 14vh;
}

.cubobaixo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 14vh;
}

.prints1 {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.menu {
    margin-top: 1vh;
    margin-left: 1vh;
    width: 75vh;
    height: auto;
    margin-left: 7vh;
    object-fit: cover;
}

.printcima {
    flex: 1;
    padding-left: 40vh;
    text-align: right;
    margin-right: 17vh;

}

.printbaixo {
    flex: 1;
    margin-left: 17vh;
    padding-left: 20vh;
}


.titulo-verde {
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
    text-shadow: 
        -1px 0 #44BC43, 0 1px #44BC43, 1px 0 #44BC43, 0 -1px #44BC43,
        -2px 0 #44BC43, 0 2px #44BC43, 2px 0 #44BC43, 0 -2px #44BC43;
}

.frase1 {
    font-size: 6vh;
    width: 80vh;
    margin-top: 0;
    margin-bottom: 1vh;
    color: #44BC43;
}

.frase2 {
    margin-top: 0;
    font-size: 2vh;
}

.linha-verde {
    border: none;
    height: 1vh; /* Ajuste a espessura conforme necessário */
    background-color: #28D225; /* A cor da linha */
}

.fundo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.imagem1, .imagem2 {
    position: relative;
    width: 90vh; /* Ajuste conforme necessário */
    margin: 15vh 30vh
}


.noticias, .parceiros {
    position: absolute;
    width: 50vh;
    height: auto;
}

.texto-imagem {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
}